.App {
  text-decoration: none;
}
#bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.bg .text {
  position: relative;
  padding: 1% 0 0 3%;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.bg .text2{
   position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 12%;
  font-size: x-large;
}
.bg button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(9, 204, 238);
  color: white;
  font-size: 16px;
  width: 7rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.bg button:hover {
  background-color: black;
}

/* .nav_bar {
  position: fixed;
  width: 95.5%;
  margin-top: -20px;
  padding: 10px 20px 10px 20px;
  background-color: #1c4966;
  /* flex-grow: 1; 
}

.nav_bar .Navi {
  text-decoration: none;
  color: aliceblue;
}

.right {
  display: flex;
  flex-direction: row;
  float: right;
  font-size: 20px;
  width: 30%;
  justify-content: space-evenly;
}

.nav_bar .Name {
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 400px) {
  .nav_bar {
    position: fixed;
    width: 320px;
    margin-top: -20px;
    /* padding: 10px 20px 10px 20px; 
    background-color: #1c4966;
    /* flex-grow: 1; 
  }
  .nav_bar .Name {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
  }
  .right {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
  }
} */
