.App {
  text-decoration: none;
  margin: 0px 10px 10px 10px;
  font-family: "Times New Roman", Times, serif;
}
.bg {
  background-image: url("./images/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 570px;
  padding: 20px 20px 20px 0px;
}
.nav_bar {
  position: fixed;
  width: 95.5%;
  margin-top: -20px;
  padding: 10px 20px 10px 20px;
  background-color: #1c4966;
  /* flex-grow: 1; */
}

.nav_bar .Navi {
  text-decoration: none;
  color: aliceblue;
}

.nav_bar .Right {
  float: right;
  margin-left: 60px;
  font-size: 20px;
}

.nav_bar .Name {
  font-weight: bold;
  font-size: 30px;
}
